<nav class="navbar navbar-expand-lg bg-body-tertiary p-4 mb-4" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
  <div class="row">
   <div class="col-3">
    
   </div>
   <div class="col-6">
    <h1 class="text-center mb-4">Lista de clientes</h1>
   </div>
   <div class="col-3">
    <form role="search" class="d-flex mb-4">
      <input class="form-control me-2 " type="text" (keyup)="search()" [(ngModel)]="searchTerm" placeholder="Buscar..." name="searchTab">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
   </div> 
  </div>
  
  
</div>

  <div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow border-1 rounded-3">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" class="text-center">Número de Cliente</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">RFC</th>
                            <th scope="col" class="text-center">CURP</th>
                            <th scope="col" class="text-center">Editar</th>
                            <th scope="col" class="text-center">Eliminar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let result of prueba; index as i">
                            <td class="text-center w-25">{{i+1}}</td>
                            <td class="text-center w-25">{{result.Nombre}} {{ result.Apellido }}</td>
                            <td class="text-center w-25">LAHJ931123GWA</td>
                            <td class="text-center w-25">LAHJ931123HASRRR04</td>
                            <td ><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button class="btn btn-danger"><i class="bi bi-trash-fill"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container fixed-bottom">
    <footer class="py-2 my-2">
      <hr>
      <!--
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>-->
      <p class="text-center text-body-secondary">© 2024 Grupo Asesores</p>
    </footer>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>