<nav class="navbar navbar-expand-lg bg-body-tertiary p-4 mb-4" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bienvenido {{nombre}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row-cols-12 mb-4">
    <div class="col-12 text-center">
      <div class="card">
        <div>
          <img src="./../../../assets/conta_logo.jpg" alt="" class="card-img-fluid" style="width: 15rem;">
        </div>
        <div class="card-body">
          <h4 class="">Selecciona una Opción</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="" class="nav-link"><div>Clientes</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Pagos</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reportes de Pagos</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reportes Generales</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Opciones Especiales</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Gráficas</div></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row-cols-12 mb-4">
    <div class="col-12 text-center">
      <div class="card">
        <div>
          <img src="./../../../assets/conta_logo.jpg" alt="" class="card-img-fluid" style="width: 15rem;">
        </div>
        <div class="card-body">
          <h4 class="">Selecciona una Opción</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="" class="nav-link">Clientes</a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Pagos</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Generar Prestamo</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reportes</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reporte Pagos Cliente Por Cobrador</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reporte de Clientes a Cobrar diario</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Eliminar Pago</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Gráficas</div></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row-cols-12 mb-4">
    <div class="col-12 text-center">
      <div class="card">
        <div>
          <img src="./../../../assets/conta_logo.jpg" alt="" class="card-img-fluid" style="width: 15rem;">
        </div>
        <div class="card-body">
          <h4 class="">Selecciona una Opción</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="" class="nav-link"><div>Cliente</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Pagos</div></a></td>
              </tr>
              <tr>
                <td><a href="" class="nav-link"><div>Reportes</div></a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
