<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bienvenido</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h3 class="text-center mb-4 fs-3">Agregar Cliente</h3>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto text-center" id="inputGroup-sizing-default">Nombre(s):</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto" id="inputGroup-sizing-default">Apellido Paterno:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto text-center" id="inputGroup-sizing-default">Apellido Materno:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto" id="inputGroup-sizing-default">Giro Empresarial:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto text-center" id="inputGroup-sizing-default">Dirección:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto" id="inputGroup-sizing-default">Código Postal:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto text-center" id="inputGroup-sizing-default">Archivos:</span>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto" id="inputGroup-sizing-default">Cobrador:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto text-center" id="inputGroup-sizing-default">Aval:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text w-auto" id="inputGroup-sizing-default">Cobrador:</span>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
</div>
